.home-layout {
  display: grid;
  grid-template-columns: 600px 1fr; /* sidebar fijo a 600px, main ocupa el resto */
  min-height: calc(100vh - 160px);
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.sidebar {
  background-color: #f1f8e9;
  border: 4px solid #c5e1a5;
  border-radius: 16px;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  height: fit-content;
}

.content {
  padding: 2rem;
}

/* Responsive */
@media (max-width: 900px) {
  .home-layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    margin-bottom: 1rem;
    width: 100%;
  }
}
