/* .layout {
  display: grid;
  grid-template-columns: 1fr;
  min-height: calc(100vh - 160px);

  margin: 2rem;
  gap: 1rem;
} */

.content {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* @media (max-width: 900px) {
  .layout {
    margin: 1rem;
  }
} */
